.flexRow--global__pdp--container {
  max-width: 1260px;
  margin   : 0 auto;
  width    : 100%;
}

.flexRow--product__breadcrumb {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin         : 100px auto 0;
}

.flexRow--product__slider {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  .flexRow--product__breadcrumb {
    margin-top: 0;
    height    : 0;
  }
}
