.sellingPrice--global__home {
    padding       : 0 0 10px;
    font-size     : 15.5px;
    font-weight   : 400;
    font-stretch  : normal;
    font-style    : normal;
    letter-spacing: normal;
    text-align    : center;
    color         : #ff6900;
}

.currencyContainer--global__home {
    font-size     : 15.5px;
    font-weight   : 400;
    font-stretch  : normal;
    font-style    : normal;
    letter-spacing: normal;
    text-align    : center;
    color         : #ff6700;
}