.container--search__result,
.container--global__home {
  transition: all .5s ease-in;
}

.container--search__menu,
.container--search__result,
.container--global__home {
  background-color: #fff;
  max-width       : 100% !important;
  border-radius   : 0;
}

.container--search__result:hover,
.container--global__home:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
}


.nameContainer--global__home {
  padding   : 15px;
  text-align: center;
  height    : 66px;
  overflow  : hidden;
}
.nameContainer--global__menu {
  padding: 5px 0 2px;
}
.productBrand--global__menu {
  display: flex;
  max-width: 130px;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  height: 38px;
  line-height: 1.25;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #1c1c1c;
}

.nameWrapper--global__menu,
.nameWrapper--global__home {
  line-height   : 1rem !important;
  text-align    : center;
  min-height    : 46px;
  font-size     : 13px;
  font-weight   : 700;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  color         : #1c1c1c;
}

.brandName--global__home {
  font-size     : 13px;
  font-weight   : 700;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : center;
  color         : #1c1c1c;
}
