.wrapper--menu__mobile--bottom {
    position        : fixed !important;
    bottom          : 0;
    left            : 0;
    right           : 0;
    z-index         : 1000;
    background-color: aliceblue;
}
.wrapper--mobile__header--top--stuck :global(.vtex-flex-layout-0-x-flexRowContent--header__middle) {
    box-shadow: 0 4px 5px rgb(0 0 0 / 90%);
}
