.sellingPrice--global__home {
  padding       : 0 0 10px;
}


.sellingPrice--global__home,
.currencyContainer--global__home {
  font-size     : 15.5px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : center;
  color         : #ff6700;
}

.sellingPrice--global__menu,
.currencyContainer--global__menu{
    font-size: 12px!important;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #ff6900;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
