.flexRowContent--section_one-prom--row {
  padding-top    : 1.5rem;
  padding-bottom : 0.75rem;
  justify-content: center;
}

.flexRowContent--section_one-prom--row :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  margin: 0 9px;
}

.flexRow--home__section--three,
.flexRow--home__section--two,
.flexRow--section_one-prom {
  max-width: 1260px;
  margin   : 0 auto;
  width    : 100%;
}

.flexRow--section__three--product-banners-banners-group {
  padding-left : 0.25rem;
  padding-right: 0.25rem;
}

.flexRowContent--section__three--product-banners-banner-alone,
.flexRowContent--section__three--product-banners-banners-group {
  margin : 0 auto;
  padding: 10px 9px;
}
.flexRow--section_one-prom :global( .vtex-store-components-3-x-container) {
  padding: 0!important;
}
.flexRowContent--section_one-prom--fw {
  width: 100%;
  padding: 10px 9px;
}
@media (max-width: 768px){
  .flexRowContent--section_one-prom--row :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin: 10px 0 5px;
  }
}
