/* .flexRowContent--home__section--one{
    background-color: rebeccapurple;
} */

.flexRowContent--section_one-prom--row{
    max-width: 1260px;
    margin   : 0 auto;
    width    : 100%;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    justify-content: center;
}
.stretchChildrenWidth{
    margin: 0 9px;
 }

