.container--product__slider--title,
.container--slider__title {
  font-size     : 25px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.34;
  letter-spacing: normal;
  text-align    : left;
  color         : #1c1c1c;
  text-transform: uppercase;
  padding-top   : 2rem;
  padding-bottom: 1.5rem;
}

.container--product__slider--title::after,
.container--product__slider--title::before,
.container--slider__title::after,
.container--slider__title::before {
  content         : " ";
  width           : 100%;
  min-width       : 25%;
  background-color: #1c1c1c;
  height          : 2px;
  margin          : auto;
}
.wrapper--product__slider--title,
.wrapper--slider__title {
  width      : max-content;
  white-space: nowrap;
  text-align : center;
  margin     : 0 22px;
}
.paragraph--product__slider--title,
.paragraph--slider__title {
  text-align: center;
  margin    : 0 !important;
}
