.imageElement--home__slider {
  max-height: none !important;
  width: auto !important;
  z-index   : -4;
}

.slideChildrenContainer--home__slider--product {
  padding: 0.75rem;
}
.sliderLayoutContainer--menu__slider{
  padding-left: 0 !important;
  padding-right: 0 !important;
  justify-content: center;
}

.sliderArrows--home__slider {
  margin: 0 40px;
}

.caretIcon--home__slider {
  color         : #fff;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .2));
  filter        : drop-shadow(3px 3px 2px rgba(0, 0, 0, .2));
}
.slideChildrenContainer--menu__slider,
.sliderLayoutContainer--home__slider--product {
  padding-left : 10px !important;
  padding-right: 10px !important;
}

.paginationDotsContainer--home__slider--product {
  margin-right: -50%;
  transform   : translate(-50%, 100%);
  left        : 50%;
  padding-top : 0.75rem;
}
