.sellingPrice--product__info {
  font-size     : 19px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : left;
  color         : #ff6900;
  padding-bottom: 15px;
}

.listPrice--pdp__info--totals {
  font-size      : 23px;
  font-weight    : 400;
  font-stretch   : normal;
  font-style     : normal;
  letter-spacing : normal;
  text-align     : right;
  color          : rgba(66, 66, 66, .5);
  text-decoration: line-through;
}

.sellingPrice--pdp__info--totals {
  font-size     : 37px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : right;
  color         : #ff6900;
}
