.totalProducts--layout {
  padding-top   : 1rem;
  padding-bottom: 1rem;
  padding-left  : 0;
  padding-right : 20px;
}

.filterPopupTitle,
.totalProducts--layout,
.totalProductsMessage {
  font-size     : 13.5px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : right;
  color         : #1c1c1c;
}

.filterPopupTitle,
.orderByText {
  color: #ff6900 !important;
}

.filterPopupArrowIcon {
  padding: 0 0 0 5px;
}

.filterPopupArrowIcon,
.caretIcon {
  color: #ff6900 !important;
  fill : #ff6900 !important;
}

.orderByButton {
  background-color: transparent !important;
}

.orderByOptionsContainer {
  background-color: #f5f5f5;
}

.orderByOptionItem {
  background-color: #f5f5f5;
  color           : #878787;
  ;
}

.orderByOptionItem--selected {
  background-color: #e3e4e6;
}

.gallery--general-grid {
  padding-left: 0 !important;
}

.galleryTitle--layout {
  justify-content: space-between;
  align-items    : center;
  text-align     : center;
  text-transform : uppercase;
  font-size      : 25px;
  width          : 100%;
  display        : flex;
  white-space    : nowrap;
  max-width      : 1226px;
  margin         : 0 auto;
  color          : #1c1c1c;
  font-weight    : 400;
  font-stretch   : normal;
  font-style     : normal;
}

.galleryTitle--layout::after,
.galleryTitle--layout::before {
  content         : " ";
  width           : 50%;
  min-width       : 25%;
  background-color: #1c1c1c;
  height          : 2px;
  margin          : auto;
}

.galleryTitle--layout::before {
  margin-right: 15px;
}

.galleryTitle--layout::after {
  margin-left: 15px;
}

@media (max-width: 768px) {

  .galleryTitle--layout::after,
  .galleryTitle--layout::before {
    display: none;
  }
  .galleryTitle--layout{
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;

  }

}
