.newsletterForm--global__newslatter--footer {
  padding: 42px 0;
}

.newsletterForm--global__newslatter--footer {
  display    : flex;
  flex-flow  : row nowrap;
  min-width  : max-content;
  align-items: center;
}

.emailInputContainer--global__newslatter--footer :global(.vtex-input) {
  display    : flex;
  flex-flow  : row nowrap;
  min-width  : max-content;
  align-items: center;
}

.emailInputContainer--global__newslatter--footer :global(.vtex-input__label) {
  font-size     : 15px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : left;
  color         : #1c1c1c;
  max-width     : 382px;
  line-height   : 1.2;
  display       : flex;
  flex-flow     : column;
}

.emailInputContainer--global__newslatter--footer :global(.vtex-input__label)::before {
  content       : "SIGAMOS EN CONTACTO";
  font-size     : 16px;
  font-weight   : 700;
  font-stretch  : normal;
  font-style    : normal;
  padding-bottom: 5px;
}

.emailInputContainer--global__newslatter--footer :global(.vtex-input-prefix__group) {
  border          : 1px solid #b0b0b0;
  background-color: transparent;
  padding         : 0;
  height          : 44px;
  display         : flex;
  border-radius   : 0% !important;
  background      : transparent;
  font-size       : 23px;
  font-weight     : 300;
  font-stretch    : normal;
  font-style      : normal;
  line-height     : .83;
  letter-spacing  : normal;
  text-align      : left;
  color           : rgba(66, 66, 66, .8);
}

.emailInputContainer--global__newslatter--footer :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;
}

.emailInputContainer--global__newslatter--footer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: rgba(66, 66, 66, .8);
}

.formSubmitContainer--global__newslatter--footer :global(.vtex-button) {
  border               : 1px solid #b0b0b0;
  background-color     : #fff;
  height               : 44px;
  color                : rgba(66, 66, 66, .8);
  /* background-image  : ;
    background-repeat  : no-repeat; */
  padding              : 0;
  width                : 37px;
  background-position  : 50%;
}
