.container--texto-header__top {
    font-size      : 11.5px;
    font-weight    : 400;
    font-stretch   : normal;
    font-style     : normal;
    line-height    : 1.52;
    letter-spacing : normal;
    text-align     : left;
    color          : #a8a8a8;
    text-decoration: none;

}

.paragraph--texto-header__top {
    margin: 0;
}