.container--custom__page--title {
  height      : 200px;
  background  : #ff6900;
  color       : #f5f5f5;
  text-align  : center;
  font-size   : 12px;
  padding-left: 35%;
  padding-top : 4%;
}

.container--warranty__text1,
.container--warranty__title2,
.container--warranty__subtitle,
.container--custom__page {
  width       : 80%;
  margin-left : auto;
  margin-right: auto;
  color       : #1c1c1c;
}

.container--warranty__text1 {
  font-size    : 14px;
  margin-bottom: 4em;
}

.link--warranty__text1,
.link--custom__page {
  color: #ff6900;
}

.table--custom__page {
  width          : 100%;
  border-collapse: collapse;
}

.tableTh--custom__page,
.tableTd--custom__page {
  border: 0.5px solid #a0a0a0;
}

.tableTd--custom__page,
.tableTh--custom__page {
  text-align    : center;
  font-size     : 14px;
  color         : #1c1c1c;
  padding-top   : 1em;
  padding-bottom: 1em;
}

.tableTd--custom__page {
  background: #f5f5f5;
}

.tableTh--custom__page {
  background: #e0e0e0;
}

.paragraph--custom__page {
  font-size: 14px;
  color    : #1c1c1c;
}
