.element--search__result {
  padding      : 0;
  border-radius: 0 !important;
}

.element--search__result :global(.vtex-store-components-3-x-discountContainer) {
  width      : 100%;
  padding-top: 30px;
}

.nameContainer--product-sumary-shelf__name--price {
  text-align     : left;
  justify-content: flex-start;
}

.brandName--product-sumary-shelf__name--price {
  height            : 32px;
  display           : -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow     : ellipsis;
  overflow          : hidden;
  line-height       : 1.25;
  font-size         : 13.5px;
  font-weight       : 700;
  font-stretch      : normal;
  font-style        : normal;
  letter-spacing    : normal;
  text-align        : left;
  color             : #1c1c1c;
  padding-top       : 5px;
}

.container--search__result {
  transition: all .5s ease-in;
}

.container--search__result {
  background-color: #fff;
  max-width       : 100% !important;
  border-radius   : 0;
}

.container--search__result:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
}
