.imageElementLink--home__banner,
.imageElement--home__image {
  transition: all .5s ease-in;
}

.imageElementLink--home__banner:hover,
.imageElement--home__image:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
  z-index   : 5;
}

.imageElementLink--home__banner {
  width   : 100%;
  padding : 0;
  margin  : 0;
  position: relative;
  display : flex;
}

.imageElement--home__banner {
  width : 100%;
  height: 100%;
  margin: 0;
}

.infoCardTextContainer--box__banner__home {
  display: none;
}

.infoCardImageContainer--box__banner__home {
  width  : 100%;
  margin : 0;
  padding: 0;
  display: inherit;
}

.infoCardImage--box__banner__home {
  transition: all .5s ease-in-out;
}

.infoCardImage--box__banner__home:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
}
