.container--global__home {
  transition: all .5s ease-in;
}


.container--global__home {
  background-color: #fff;
  max-width       : 100% !important;
  border-radius   : 0;
}


.container--global__home:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
}


.nameContainer--global__home {
  padding   : 15px;
  text-align: center;
  height    : 66px;
  overflow  : hidden;
}

.nameWrapper--global__home {
  line-height   : 1rem !important;
  text-align    : center;
  min-height    : 46px;
  font-size     : 13px;
  font-weight   : 700;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  color         : #1c1c1c;
}

.brandName--global__home {
  font-size     : 13px;
  font-weight   : 700;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : center;
  color         : #1c1c1c;
}
